@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .highlight {
    background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=ffb6c1');
    margin: -2px -6px;
    padding: 2px 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
  }

  .highlight-secondary {
    background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=DCE6ED');
    margin: -2px -6px;
    padding: 2px 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
  }
}
